.top{
    display: flex;
    justify-content: center;
}

.assignment-table{
    display: flex;
    justify-content: center;
}

th{
    background-color: gray;
}

.btn{
    background-color: black;
    border-radius: 20%;
}

a{
    color: red;
}
th{
    width: 100%;
}