.top{
    display: flex;
    justify-content: center;
}

.assignment-table{
    display: flex;
    justify-content: center;
}

th{
    background-color: gray;
}

.btn{
    color: #c0b9b9;
    background-color: black;
    border-radius: 20%;
}